.first{
        height: 100vh;
   }
      .Home{
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      .hRight{
        margin: 100px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 35%;
        align-items: center;
      }
      .hRight img{
        width: 200px;
      }
      .icon{
        display: flex;
        gap: 10px;
        margin-top: 15px;
      }
      .hLeft{
        background-color: black;
        width: 60%;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-top: 35px;
      }
      .hLeft h1,
      .hLeft h2{
        color: white;
        text-align: center  ;
      }
      .icon img{
        width: 70px;
      }
      .btn button{
        background-color: #ED3237;
        border: none;
        border-radius: 7px;
        font-size: 20px;
        width: 160px;
        margin-top: 10px;
        height: 40px;
        color: white;
      }
      .btn button:hover{
        background-color: #ac2a2ec5;
      }
      .number{
        color:#ED3237;
        padding: 5px;
        border: 1px solid transparent;
        border-bottom: 1px solid #ED3237;
        text-decoration: none;
        transition: 0.2s;
      }
      .number:hover{
       border: 1px solid #ED3237;
       border-radius: 7px;
   
      }
      @media (max-width: 700px) {
        .Home{
          flex-direction: column;
          align-items: center;
        }
        .hLeft{
          width: 100%;
          justify-content: flex-start;
        }
        .hRight{
          width: 100%;
          justify-content: space-between;
          height: 580px;
          overflow: hidden;
          margin: 0;
      
        }
        .hRight img{
          width: 105%;
          height: 105%;

                }
       
      }
      @media (min-width: 700px) {
        .hRight img{
          display: none;
        }
      }
      /* Menu.css */

.menu-container {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 95%; /* Adjust the width to accommodate 4 sections per row */
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.menu-section {
  flex-basis: calc(25% - 20px); /* 25% width for each section with margin */
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.menu-section h2 {
  font-size: 1.2rem;
background-color:#ED3237;
margin: 0;
padding: 10px;
border-radius: 7px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #d9534f14;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menu-item h3 {
  font-size: 1rem;
  margin: 0;
}

.menu-description {
  font-style: italic;
  margin: 10px 0;
}

.menu-price {
  font-weight: bold;
  color: #d9534f;
}
