body{
height: 100vh;
margin: 0;
padding: 0;
}
.pg{
   height: 100%;
   background-image: url('../public/photo_5917860666805436909_x.jpg');
   background-position: bottom;
}
*{
          color: white;
}