body{
height: 100vh;
margin: 0;
padding: 0;
}
.pg{
   height: 100%;
   background-image: url('../public/WhatsApp\ Image\ 2023-10-28\ at\ 11.03.38\ PM.jpeg');
   background-size: 72%;
   background-repeat: no-repeat;
   background-position: 144%;
}
*{
          color: white;
}
@media (max-width: 700px) {
   .pg{
      background-image: none;
    }
}